@charset "utf-8";


@font-face {
  font-family: HeadingFont;
  src: url(ValentinaDedic4.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: HeadingFont;
   font-size: 75px; 
 line-height: 75px;
 width: 500px;
 color:black;
 background-color: blue; opacity: 0.7
 width: 300px; height: 80px;
 padding: 20px;
 border: 4px solid black;
 border-radius: 20px;
}
 h2 {font-size: 40px; 
 line-height:29px;
 width: 530px;
 color:black;
 background-color: blue; opacity: 0.7
 width: 400px; height: auto;
 padding: 10px;
 border: 4px solid black;
 border-radius: 20px;
 }
  h3 {font-size: 18px; 
 line-height: 29px;
 width: 850px;
 color:black; background-color: gray; opacity: 0.7
 width: 200px; height: 210px;
 padding: 10px;
 border: 4px solid blue;
 border-radius: 20px;
} 

@font-face {
  font-family: BodyFont;
  src: url(web_ibm_mda.ttf) format(truetype);
}


body {
  background-image: url(slike/nasa.jpg);
  font-family: BodyFont, sans-serif;

